.app{
    min-height: 100vh;
    display: flex;
    background-color: #020230;
    color: white;
    @media screen and (max-width:700px) {
        flex-direction: column-reverse;
    }
}

.main{
    display: flex;
    flex: 75%;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, rgba(0,0,0,0), #020230),
    url("./assets/bg.jpg") center;
    @media screen and (max-width:700px) {
        flex: 70%;
    }
}

.pyramid{
    flex: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (max-width:700px) {
        flex: 30%;
    }
    @media screen and (max-width:550px) {
        flex: 35%;
    }
    @media screen and (max-width:500px) {
        flex: 40%;
    }
}

.moneyList{
    list-style: none;
    width: 100%;
    padding: 20px;
    @media screen and (max-width:700px) {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row-reverse;
        justify-content: center;
        gap : 5px;
    }
}

.moneyListItem{
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
}

.moneyListItem.active{
    background-color: teal;
}

.moneyListItemNumber{
    font-size: 18px;
    font-weight: 100;
    width: 30%;
    @media screen and (max-width:700px) {
        display: none;
    }
}

.moneyListItemPrice{
    font-size: 20px;
    font-weight: 300;
    display: flex;
    align-items: center;
}

/* .top{
    height: 50%;
    @media screen and (max-width:850px) {
        height: 25%;
    }
    @media screen and (max-width:600px) {
        height:20%;
    }
    position: relative;
} */

.top{
    position: relative;
    
}

@media screen and (max-width: 700px) {
    .bottom{
        margin-top: 55px;
    }
    .timer{
        bottom: -20px;
    }
}

.timer{
    width: 60px;
    height: 60px;
    border: 5px solid white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: 700;
    position: absolute;
    top: 50px;
    left:70px;
    color: white;
    @media screen and (max-width:850px) {
        width: 50px;
        height: 50px;
        font-size: 22px;
        padding: 5px;
    }
    @media screen and (max-width:700px) {
        font-size: 20px;
        width: 40px;
        height: 40px;
        border: 3px solid white;
        font-weight: 500;
        top: 140px !important;
        padding: 5px;
    }
    @media screen and (max-width:499px) {
        font-size: 20px;
        width: 40px;
        height: 40px;
        border: 3px solid white;
        font-weight: 500;
        top: 300px !important;
        left: 170px !important;
        padding: 5px;
    }
}

.trivia{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @media screen and (max-width:850px) {
        width: 100%;
    }
}

.question{
    background:linear-gradient(#100241,black);
    width: 80%;
    text-align: center;
    padding: 20px;
    border-radius:10px;
    font-size: 20px;
    border:2px solid white;
    margin: 15px;
}

.answers{
    display: flex;
    flex-wrap: wrap;
    width:100%;
    justify-content: center;
    margin-top: 20px;
    @media screen and (max-width:850px) {
        flex-direction:column;
        align-items:center;
    }
}

.answer{
    background:linear-gradient(#0e0124,#22074d);
    width: 40%;
    padding: 15px;
    border: 1px solid white;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    margin: 0 0 10px 20px;
    font-size: 20px;
    font-weight: 300;
    @media screen and (max-width:850px) {
       width:80%;
       font-size:16px
    }
    /* @media screen and (max-width:700px) {
        width: 100%;
    } */
}

.answer:hover, .answer.active{
    background: mediumblue;
}

.answer.correct{
    animation: correct 3s ease forwards;
}

.answer.incorrect{
    animation: incorrect 3s ease forwards;
}

.answer.disable{
    cursor:not-allowed;
    pointer-events: none;
}

@keyframes correct {
    0%,22%,42%,62%{
        background: blue;
    }
    20%,40%,60%{
        background: #100241;
    }
    62%,100%{
        background: rgb(80, 173, 80);
    }
}

@keyframes incorrect {
    0%,22%,42%,62%{
        background: blue;
    }
    20%,40%,60%{
        background: #100241;
    }
    62%,100%{
        background: red;
    }
}


.introduction{
    width: 100vw;
    height: 100vh;
    background-image: url("./assets/bg.jpg");
    background-color: beige;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    object-fit: contain;
}

.wrapper{
    background-color: rgb(222, 218, 218);
    padding: 0px 30px;
    height: 20%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.userInput{
    border: none;
    outline:none;
    border-bottom: 1px solid black;
    padding: 5px;
    font-size: 16px;
    background-color: transparent;
}

.startButton{
    padding: 7px 20px;
    border-radius: 5px;
    border: none;
    background-color: rgb(4, 46, 170);
    cursor: pointer;
    font-size: 17px;
    font-weight: 500;
    color: white;
}

.congratsMsg{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 500;
}

.playAgain{
    padding: 7px 20px;
    border-radius: 5px;
    border: none;
    background-color: rgb(4, 46, 170);
    cursor: pointer;
    font-size: 17px;
    font-weight: 500;
    color: white;
}

.earning{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 24px;
}